* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: salmon;
  
}

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: whitesmoke;
    box-shadow: 7px 13px 37px #eee7e7;
    text-emphasis-color: #fcf7f7ee;
  }

  .controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #1f53c5;
    font-size: 19px;
  }

  .form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
  }

  .form-register a{
    color:whitesmoke;
    text-decoration: none;
  }

  .form-register a:hover{
    color:whitesmoke;
    text-decoration: underline;
  }